@keyframes spinn {
    to {
       transform: rotate(360deg);
    }
  }
    
  @keyframes change{
    0%{
      transform:scale(1);
      
    }
    100%{
      transform:scale(0);
     
    }
  }
    
  
  @keyframes slide{
    0%{
      transform:scale(0);
      
    }
    100%{
      transform:scale(1);
     
    }
  }
